version: "2.4"

services:
  namenode:
    build: ./namenode
    container_name: namenode
    hostname: namenode
    volumes:
      - hadoop_namenode:/hadoop/dfs/name
      - ./data/:/hadoop-data/input
      - ./map_reduce/:/hadoop-data/map_reduce
    environment:
      - CLUSTER_NAME=test
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "9870:9870"    # Hadoop NameNode UI
      - "8020:8020"
      - "8088:8088"
      - "8888:8888"    # Hadoop IPC
    networks:
      - hadoop_network

  resourcemanager:
    build: ./resourcemanager
    container_name: resourcemanager
    restart: on-failure
    depends_on:
      - namenode
      - datanode1
      - datanode2
      - datanode3
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8089:8088"    # ResourceManager UI
    networks:
      - hadoop_network

  historyserver:
    build: ./historyserver
    container_name: historyserver
    depends_on:
      - namenode
      - datanode1
      - datanode2
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - hadoop_historyserver:/hadoop/yarn/timeline
    ports:
      - "8188:8188"    # Job History UI
    networks:
      - hadoop_network

  nodemanager1:
    build: ./nodemanager
    container_name: nodemanager1
    depends_on:
      - namenode
      - datanode1
      - datanode2
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - "8042:8042"    # NodeManager UI
    networks:
      - hadoop_network

  datanode1:
    build: ./datanode
    container_name: datanode1
    depends_on:
      - namenode
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data
    networks:
      - hadoop_network

  datanode2:
    build: ./datanode
    container_name: datanode2
    depends_on:
      - namenode
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data
    networks:
      - hadoop_network

  datanode3:
    build: ./datanode
    container_name: datanode3
    depends_on:
      - namenode
    environment:
      - HOST_LOCAL=host.docker.internal
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - hadoop_datanode3:/hadoop/dfs/data
    networks:
      - hadoop_network

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  hadoop_datanode3:
  hadoop_historyserver:

networks:
  hadoop_network:
    name: hadoop_network
    external: true
